body {
  background-color: #ede9d0;
}

/* Main.js */ /*------------------------------*/
.div-main-section-01 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 900;
}
.img-main {
  width: 70vw;
}
.icon-main-arrow-up {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-main-arrow-down {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*------------------------------*/ /* Main.js */

/* Header.js */ /*------------------------------*/
.div-header {
  width: 90%;
  height: 60px;
  display: flex;
  position: fixed;
  top: 0;
  left: 5%;
  z-index: 200;
  border-bottom: 1px solid black;
}
.div-header-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-header-logo {
  font-size: 25px;
  font-weight: 900;
}
.div-header-menu {
  position: fixed;
  top: 0;
  background-color: #d2000f;
  border-radius: 0 0 20px 20px;
  padding-top: 90px;
  padding-bottom: 30px;
  height: 130px;
  width: 100vw;
  z-index: 100;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}
.link-header {
  text-decoration: none;
  color: black;
}
.div-header-menu-wrap {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
}

.openAnimation1 {
  animation: fadein 0.5s ease-out;
}
.closeAnimation1 {
  animation: fadeout 0.5s ease-out;
}
.openAnimation2 {
  animation: down 0.5s ease-out;
}
.closeAnimation2 {
  animation: up 0.5s ease-out;
}

@keyframes down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*------------------------------*/ /* Header.js */
