body {
  background-color: #ede9d0;
  font-family: "Nh";
}

.div-month {
  margin-top: 100px;
  font-size: 30px;
  text-align: center;
}
.icon-left {
  position: absolute;
  top: 100px;
  left: 90px;
  transform: translateY(50%);
}
.icon-right {
  position: absolute;
  top: 100px;
  right: 90px;
  transform: translateY(50%);
}

@font-face {
  font-family: "Nh";
  src: url("./NanumSquareNeo-eHv.ttf");
}

@font-face {
  font-family: "Neb";
  src: url("./NanumSquareNeo-dEb.ttf");
}
/* Main.js */ /*------------------------------*/
.div-main-section-01 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.img-main {
  width: 70vw;
}

.icon-main-arrow-down {
  position: absolute;
  bottom: 2.5vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*------------------------------*/ /* Main.js */

/* Header.js */ /*------------------------------*/
.div-header {
  width: 90vw;
  height: 60px;
  display: flex;
  position: fixed;
  top: 0;
  left: 5%;
  z-index: 200;
  /* border-bottom: 1.5px solid black; */
}
.div-header-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-header-logo {
  font-size: 22px;
}
.div-header-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #d2000f;
  border-radius: 0 0 10px 10px;
  padding-top: 90px;
  padding-bottom: 40px;
  width: 100vw;
  z-index: 100;
  text-align: center;
  font-size: 18px;
}
.link-header {
  text-decoration: none;
  color: black;
}
.div-header-menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}
.openAnimation0 {
  animation: open0 0.3s ease-out;
}
.closeAnimation0 {
  animation: close0 0.3s ease-out;
}
.openAnimation1 {
  animation: fadein 0.3s ease-out;
}
.closeAnimation1 {
  animation: fadeout 0.3s ease-out;
}
.openAnimation2 {
  animation: down 0.3s ease-out;
}
.closeAnimation2 {
  animation: up 0.3s ease-out;
}

@keyframes down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes open0 {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes close0 {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
/*------------------------------*/ /* Header.js */

/* Profile.js */ /*------------------------------*/
.div-profile-profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.img-profile-profile {
  width: 30vw;
  margin-bottom: 15px;
  border-radius: 10%;
}
.div-profile-date {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.div-profile-check {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: #d2000f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

/*------------------------------*/ /* Profile.js */

/* Ranking.js */ /*------------------------------*/
::-webkit-scrollbar {
  display: none;
}
.div-ranking {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-ranking-section-01 {
  position: absolute;
  top: 200px;
}
.div-ranking-section-02 {
  width: 80vw;
  height: 5vh;
  padding: 0 5vw 0 5vw;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);

  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.div-ranking-percent {
  color: #d2000f;
  width: 40px;
  display: flex;
  justify-content: right;
}
/*------------------------------*/ /* Ranking.js */

/* Calendar.js */ /*------------------------------*/
.div-calendar-section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-calendar {
  width: 80vw;
  font-size: 18px;
  text-align: center;
}
thead th {
  text-align: center;
  height: 4vh;
  background-color: #d2000f;
}
th {
  width: 30vw;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.4);
}
.calendar-t {
  background-color: #d2000f;
}
.calendar-p {
  background-color: black;
  color: white;
}
.calendar-f {
  background-color: white;
}

.div-calendar-schedule-section {
  text-align: center;
  width: 80vw;
  margin-top: 20px;
}
.div-calendar-schedule-01 {
  font-size: 20px;
  color: #d2000f;
  margin-top: 50px;
}
.div-calendar-schedule-02 {
  font-size: 20px;
  text-align: center;
}

.div-calendar-schedule-write {
  width: 80vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-calendar-schedule-write {
  width: 80%;
  border: none;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}
:focus {
  outline: none;
}

.button-calendar-schedule-write {
  margin-top: 20px;
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #d2000f;
  text-align: center;
  font-size: 20px;
  border-radius: 100%;
}

.button-calendar-schedule-add {
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #d2000f;
  text-align: center;
  font-size: 20px;
}
/*------------------------------*/ /* Calendar.js */

/* Attendance.js */ /*------------------------------*/
.div-attendance-section-01 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.icon-attendance-info {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.div-attendance-section-info {
  position: absolute;
  top: 50vh;
  transform: translate(0, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  width: 120px;
  padding: 60px 30px 60px 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
}

.div-attendance-info {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Neb";
  margin: 2px;
}

.div-attendance-info-01 {
  width: 20px;
  background-color: #d2000f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.div-attendance-info-02 {
  width: 20px;
  background-color: #d2000f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.div-attendance-info-03 {
  width: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.div-attendance-info-04 {
  width: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d2000f;
}

/*------------------------------*/ /* Attendance.js */

.div-attendance-section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
thead th {
  text-align: center;
  height: 4vh;
  background-color: #d2000f;
}
th {
  width: 30vw;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.attendance-n {
  background-color: #d2000f;
}
.attendance-p {
  background-color: black;
  color: white;
}
.attendance-f {
  background-color: white;
}

.attendance-0 {
  background-color: #d2000f;
  color: white;
}
.attendance-1 {
  background-color: #d2000f;
}
.attendance-2 {
  background-color: black;
  color: white;
}
.attendance-3 {
  background-color: black;
  color: #d2000f;
}

.div-attendance-piechart-01 {
  position: absolute;
  top: 30vh;
  width: 80vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-attendance-piechart-02 {
  position: absolute;
  bottom: 100px;
  width: 80vw;
  height: 20vh;
  font-size: 30px;
  display: flex;
  /* background-color: pink; */
  justify-content: center;
  align-items: center;
}

/* Notice.js */ /*------------------------------*/
.div-notice-section-01 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.div-notice-section-02 {
  width: 80vw;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw 20px 5vw;
  margin-bottom: 20px;
}
.div-notice-section-03 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ede9d0;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-month-title {
  margin-top: 100px;
  font-size: 30px;
  padding: 0 5vw 0 5vw;
}
.icon-notice-close {
  width: 20px;
  height: 20px;
  background-color: #d2000f;
  padding: 5px;
  border-radius: 100%;
  margin-top: 20px;
}

.scrollLock {
  overflow: hidden;
}
.div-notice-title {
  width: 60vw;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.div-notice-time {
  text-align: right;
  width: 20vw;
  font-size: 10px;
}
.div-notice-content {
  margin-top: 20px;
  width: 80vw;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.5);
  word-wrap: break-word;
  font-size: 20px;
  padding: 5vw;
}
.div-ranking-percent {
  color: #d2000f;
  width: 40px;
  display: flex;
  justify-content: right;
}

.button-notice-write {
  position: absolute;
  top: 100px;
  right: 10vw;
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #d2000f;
  text-align: center;
  font-size: 20px;
  border-radius: 100%;
}

.div-notice-write-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.input-notice-write-title {
  width: 80%;
  border: none;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}
::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.textarea-notice-write-content {
  font-size: 20px;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  font-family: "Neb";
}
::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.div-notice-header {
  width: 100vw;
  height: 60px;
  background-color: #ede9d0;
  position: fixed;
  top: 0;
  z-index: 10;
}
/*------------------------------*/ /* Notice.js */

/* KakaoLogin.js */ /*------------------------------*/
.div-kakaologin-body {
  margin: auto;
  width: 90vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-kakaologin-register-wrapper {
  /* width: 40%; */
  padding: 3% 10% 5%;
  border-radius: 10px;
  /* border: 1px solid rgb(180, 180, 180); */
  /* background-color: rgba(0, 0, 0, 0.2); */
  /* border: 2px solid #3A1D1D; */
  color: #3A1D1D;
  background-color: #FEE500;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.div-kakaologin-register-wrapper img {
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 10px;
}
.div-kakaologin-register-wrapper textarea {
  width: calc(100% - 20px);
  height: 1em;
  padding: 10px;
  resize: none;
  border: none;
  border-radius: 10px;
  font-family: "Neb";
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
  position: relative;
}
::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
/*------------------------------*/ /* KakaoLogin.js */