body {
  background-color: #ede9d0;
  font-family: "Nh";
}

.div-month {
  margin-top: 100px;
  font-size: 30px;
  text-align: center;
}
.icon-left {
  position: absolute;
  top: 100px;
  left: 90px;
  transform: translateY(50%);
  z-index: 10;
}
.icon-right {
  position: absolute;
  top: 100px;
  right: 90px;
  transform: translateY(50%);
  z-index: 10;
}

@font-face {
  font-family: "Nh";
  src: url("./NanumSquareNeo-eHv.ttf");
}

@font-face {
  font-family: "Neb";
  src: url("./NanumSquareNeo-dEb.ttf");
}
/* Main.js */ /*------------------------------*/
.div-main-section-01 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.div-main-section-01-01 {
  text-align: center;
  font-size: 25px;
  line-height: 150%;
}
.div-main-section-01-02 {
  text-align: center;
  font-size: 15px;
  line-height: 150%;
}
.div-main-section-01-03 {
  text-align: center;
  font-size: 20px;
  line-height: 300%;
}

.img-main {
  width: 70vw;
}

.icon-main-arrow-down {
  position: absolute;
  bottom: 2.5vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*------------------------------*/ /* Main.js */

/* Header.js */ /*------------------------------*/
.div-header {
  width: 90vw;
  height: 60px;
  display: flex;
  position: fixed;
  top: 0;
  left: 5%;
  z-index: 200;
  /* border-bottom: 1.5px solid black; */
}
.div-header-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-header-logo {
  font-size: 22px;
}
.div-header-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ae0000;
  /* background-color: #d2000f; */
  border-radius: 0 0 10px 10px;
  padding-top: 90px;
  padding-bottom: 40px;
  width: 100vw;
  z-index: 100;
  text-align: center;
  font-size: 18px;
}
.link-header {
  text-decoration: none;
  color: black;
}
.div-header-menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}
.openAnimation0 {
  animation: open0 0.3s ease-out;
}
.closeAnimation0 {
  animation: close0 0.3s ease-out;
}
.openAnimation1 {
  animation: fadein 0.3s ease-out;
}
.closeAnimation1 {
  animation: fadeout 0.3s ease-out;
}
.openAnimation2 {
  animation: down 0.3s ease-out;
}
.closeAnimation2 {
  animation: up 0.3s ease-out;
}

@keyframes down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes open0 {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes close0 {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
/*------------------------------*/ /* Header.js */

/* Profile.js */ /*------------------------------*/
.div-profile-profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Neb";
  font-size: 25px;
}
.img-profile-profile {
  width: 30vw;
  margin-bottom: 15px;
  border-radius: 10%;
}
.div-profile-date {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.div-profile-check-section {
  position: absolute;
  bottom: 10vh;
  left: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.button-profile-check {
  background-color: #d2000f;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------------------*/ /* Profile.js */

/* Ranking.js */ /*------------------------------*/
::-webkit-scrollbar {
  display: none;
}
.div-ranking {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-ranking-section-01 {
  position: absolute;
  top: 200px;
}
.div-ranking-section-02 {
  width: 80vw;
  height: 5vh;
  padding: 0 5vw 0 5vw;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);

  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.div-ranking-percent {
  color: #d2000f;
  width: 40px;
  display: flex;
  justify-content: ease-in;
}
.div-ranking-first {
  color: #e79b42;
}
/*------------------------------*/ /* Ranking.js */

/* Calendar.js */ /*------------------------------*/
.div-calendar-section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-calendar {
  width: 80vw;
  font-size: 18px;
  text-align: center;
}
thead th {
  text-align: center;
  height: 4vh;
  background-color: #d2000f;
}
th {
  width: 30vw;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.4);
}
.calendar-t {
  background-color: #d2000f;
}
.calendar-p {
  background-color: black;
  color: white;
}
.calendar-f {
  background-color: white;
}

.div-calendar-schedule-section {
  text-align: center;
  width: 80vw;
  margin-top: 20px;
}
.div-calendar-schedule-01 {
  font-size: 20px;
  color: #d2000f;
  margin-top: 50px;
}
.div-calendar-schedule-02 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.div-calendar-schedule-write {
  width: 80vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-calendar-schedule-write {
  width: 80%;
  border: none;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}
:focus {
  outline: none;
}

.button-calendar-schedule-write {
  margin-top: 10px;
  width: 15px;
  height: 15px;
  padding: 5px;
  background-color: #d2000f;
  text-align: center;
  font-size: 15px;
  border-radius: 100%;
}

.button-calendar-schedule-add {
  width: 15px;
  height: 15px;
  padding: 5px;
  background-color: #e79b42;
  text-align: center;
  font-size: 15px;
}
/*------------------------------*/ /* Calendar.js */

/* Attendance.js */ /*------------------------------*/
.div-attendance-section-01 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.div-manage-attendance-section-01 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.div-attendance-count {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.icon-attendance-info {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.div-attendance-section-info {
  position: absolute;
  top: 50vh;
  transform: translate(0, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  width: 120px;
  padding: 60px 30px 60px 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
}

.div-attendance-info {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Neb";
  margin: 2px;
}

.div-attendance-info-01 {
  width: 20px;
  background-color: #d2000f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.div-attendance-info-02 {
  width: 20px;
  background-color: #d2000f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.div-attendance-info-03 {
  width: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.div-attendance-info-04 {
  width: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d2000f;
}

/*------------------------------*/ /* Attendance.js */

.div-attendance-section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
thead th {
  text-align: center;
  height: 4vh;
  background-color: #d2000f;
}
th {
  width: 30vw;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.attendance-n {
  background-color: #d2000f;
}
.attendance-p {
  background-color: black;
  color: white;
}
.attendance-f {
  background-color: white;
}

.attendance-0 {
  background-color: #d2000f;
  color: white;
}
.attendance-1 {
  background-color: #d2000f;
}
.attendance-2 {
  background-color: black;
  color: white;
}
.attendance-3 {
  background-color: black;
  color: #d2000f;
}

.div-attendance-piechart-01 {
  position: absolute;
  top: 30vh;
  width: 80vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-attendance-piechart-02 {
  position: absolute;
  bottom: 100px;
  width: 80vw;
  height: 20vh;
  font-size: 30px;
  display: flex;
  /* background-color: pink; */
  justify-content: center;
  align-items: center;
}
.div-member-piechart-01 {
  width: 80vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-member-piechart-02 {
  position: absolute;
  bottom: 100px;
  width: 80vw;
  height: 20vh;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-member-all-month {
  font-size: 20px;
  text-align: center;
}

/* Notice.js */ /*------------------------------*/
.div-notice-section-01 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.div-notice-section-02 {
  width: 80vw;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw 20px 5vw;
  margin-bottom: 20px;
}
.div-notice-section-03 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ede9d0;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-month-title {
  margin-top: 100px;
  font-size: 30px;
  padding: 0 5vw 0 5vw;
}
.icon-notice-close {
  width: 15px;
  height: 15px;
  background-color: #d2000f;
  padding: 5px;
  border-radius: 100%;
  margin-top: 10px;
}

.scrollLock {
  overflow: hidden;
}
.div-notice-title {
  width: 60vw;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.div-notice-time {
  text-align: right;
  width: 20vw;
  font-size: 10px;
}
.div-notice-content {
  margin-top: 20px;
  width: 80vw;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.4);
  word-wrap: break-word;
  font-size: 20px;
  padding: 5vw;
  border-radius: 5px;
}

.div-ranking-percent {
  color: #d2000f;
  width: 40px;
  display: flex;
  justify-content: right;
}

.button-notice-write {
  position: absolute;
  top: 105px;
  right: 10vw;
  width: 15px;
  height: 15px;
  padding: 5px;
  background-color: #d2000f;
  text-align: center;
  font-size: 15px;
  border-radius: 100%;
}
.button-manage-attendance-write {
  width: 15px;
  height: 15px;
  padding: 5px;
  background-color: #d2000f;
  text-align: center;
  font-size: 15px;
  border-radius: 100%;
}
.div-notice-write-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.input-notice-write-title {
  width: 80%;
  border: none;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}
::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.div-absence-input {
  width: 70vw;
  height: 5vh;
  padding: 0 15vw 0 5vw;

  font-size: 15px;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.icon-absence-close {
  position: absolute;
  margin-top: 5px;
  right: 5vw;
  width: 15px;
  height: 15px;
  padding: 5px;
  background-color: #d2000f;
  text-align: center;
  font-size: 15px;
  border-radius: 100%;
}
.button-absence-minus {
  position: absolute;
  right: 5vw;
  width: 15px;
  height: 15px;
  padding: 5px;
  background-color: #d2000f;
  text-align: center;
  font-size: 20px;
  border-radius: 100%;
}
.button-manage_attendance-minus {
  width: 15px;
  height: 15px;
  padding: 5px;
  background-color: #d2000f;
  text-align: center;
  font-size: 20px;
  border-radius: 100%;
}
.div-absence-check {
  width: 90vw;
  display: flex;
  justify-content: center;
}
.input-absence-write-name {
  border: none;
  font-size: 20px;
  background: none;
  font-family: "Nh";
  margin-bottom: 10px;
}
::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.input-absence-write-pnum {
  border: none;
  font-size: 10px;
  background: none;
  font-family: "Nh";
}
::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.input-absence-write-date {
  width: 30vw;
  border: none;
  font-size: 15px;
  background: none;
  font-family: "Nh";
  text-align: right;
}

.textarea-notice-write-content {
  font-size: 20px;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  font-family: "Neb";
}
::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.div-notice-header {
  width: 100vw;
  height: 60px;
  background-color: #ede9d0;
  position: fixed;
  top: 0;
  z-index: 10;
}
/*------------------------------*/ /* Notice.js */

/* KakaoLogin.js */ /*------------------------------*/
.div-kakaologin-body {
  margin: auto;
  width: 90vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-kakaologin-register-wrapper {
  /* width: 40%; */
  padding: 3% 10% 5%;
  border-radius: 10px;
  /* border: 1px solid rgb(180, 180, 180); */
  /* background-color: rgba(0, 0, 0, 0.2); */
  /* border: 2px solid #3A1D1D; */
  color: #3a1d1d;
  background-color: #fee500;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.div-kakaologin-register-wrapper img {
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 10px;
}
.div-kakaologin-register-wrapper textarea {
  width: calc(100% - 20px);
  height: 1em;
  padding: 10px;
  resize: none;
  border: none;
  border-radius: 10px;
  font-family: "Neb";
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
  position: relative;
}
::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
/*------------------------------*/ /* KakaoLogin.js */

.div-absence-section-01 {
  position: absolute;
  top: 200px;
}
.div-warning-section-01 {
  position: absolute;
  top: 200px;
}
.div-warning-section-02 {
  width: 80vw;
  height: 5vh;
  padding: 0 5vw 0 5vw;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);

  font-size: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.div-manage-section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-manage-grid-section {
  position: absolute;
  top: 100px;
  display: grid;
  grid: ". .";
  gap: 2vw;
}
.div-manage-grid-item {
  width: 44vw;
  height: 20vh;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 5px;
}
.div-absence-section-02 {
  width: 65vw;
  height: 7vh;
  padding: 10px 20vw 10px 5vw;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);

  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.div-manage-attendance-section-02 {
  width: 70vw;
  height: 5vh;
  padding: 0 15vw 0 5vw;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);

  font-size: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.icon-back {
  position: absolute;
  left: 5vw;
  top: 100px;
  transform: translateY(50%);
  z-index: 20;
}
.icon-go {
  position: absolute;
  right: 5vw;
  top: 100px;
  transform: translateY(50%);
  z-index: 20;
}
.button-absence-add {
  margin-top: 30px;
  width: 15px;
  height: 15px;
  padding: 5px;
  background-color: #e79b42;
  text-align: center;
  font-size: 15px;
  border-radius: 100%;
}

.div-member-section {
  width: 80vw;
  height: 6vh;
  padding: 10px 5vw 10px 5vw;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.div-manage-attendance-section {
  width: 70vw;
  height: 6vh;
  padding: 10px 5vw 10px 5vw;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.div-member-name {
  font-size: 20px;
  width: 25vw;
  text-align: left;
}
.div-absence-name {
  font-size: 20px;
  margin-bottom: 10px;
}
.div-absence-pnum {
  font-size: 10px;
}
.div-absence-name-pnum {
  height: 6vh;
  width: 30vw;
}

.div-member-pnum {
  font-size: 10px;
  width: 35vw;
  text-align: center;
}
.div-member-join {
  font-size: 15px;
  width: 20vw;
  text-align: right;
}
.div-absence-date {
  font-size: 15px;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: right;
}

.div-member-updown-section {
  width: 80vw;
  margin: 0 5vw 0 5vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 25px;
}

.div-member-updown {
  width: 15vw;
  display: flex;
  justify-content: space-between;
}
.div-member-section-01 {
  position: absolute;
  top: 195px;
}
.icon-color {
  color: #d2000f;
}

.div-member-attendance-type-section {
  text-align: center;
  margin-top: 30px;
  width: 60vw;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.div-member-attendance-type-updown {
  width: 12vw;
  padding: 1vw;
  background-color: white;
}

.div-member-attendance-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #ede9d0;
  z-index: 10;
}
.button-member-attendance-detail {
  margin-top: 20px;
  width: 15px;
  height: 15px;
  padding: 5px;
  background-color: #d2000f;
  text-align: center;
  font-size: 15px;
  border-radius: 100%;
}

.button-member-plus {
  position: absolute;
  top: 105px;
  right: 10vw;
  width: 15px;
  height: 15px;
  padding: 5px;
  background-color: #d2000f;
  text-align: center;
  font-size: 15px;
  border-radius: 100%;
}
.button-member-minus {
  position: absolute;
  top: 140px;
  right: 10vw;
  width: 15px;
  height: 15px;
  padding: 5px;
  background-color: #d2000f;
  text-align: center;
  font-size: 15px;
  border-radius: 100%;
}
.button-member-check {
  position: absolute;
  top: 140px;
  right: 10vw;
  width: 15px;
  height: 15px;
  padding: 5px;
  background-color: #e79b42;
  text-align: center;
  font-size: 15px;
  border-radius: 100%;
}
.button-manage-attendance-check {
  width: 15px;
  height: 15px;
  padding: 5px;
  background-color: #e79b42;
  text-align: center;
  font-size: 15px;
  border-radius: 100%;
}
.button-member-remove-check {
  width: 15px;
  height: 15px;
  padding: 5px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 15px;
  border-radius: 100%;
}

/*///////*/
.div-member-input {
  width: 90vw;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}
.input-member-write-name {
  width: 25vw;
  border: none;
  font-size: 20px;
  background: none;
  font-family: "Nh";
  text-align: left;
}

.input-member-write-pnum {
  width: 30vw;
  border: none;
  font-size: 12px;
  background: none;
  border-radius: 5px;
  font-family: "Nh";
  text-align: center;
}

.input-member-write-joindate {
  width: 20vw;
  border: none;
  font-size: 15px;
  background: none;
  font-family: "Nh";
  text-align: right;
}
.squircle {
  background-color: red;
  margin-bottom: 10px;
}
